flows_Mushroom.json
[
    {
        "id": "3b73c9a27894efd3",
        "type": "tab",
        "label": "ISRAK_GSHEET",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "3219eb37c760729b",
        "type": "mqtt out",
        "z": "3b73c9a27894efd3",
        "name": "LAMP",
        "topic": "Hakimz/relay1",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "16e3fa5e65627b0a",
        "x": 1270,
        "y": 660,
        "wires": []
    },
    {
        "id": "0e7f7ca8f0e9531f",
        "type": "mqtt out",
        "z": "3b73c9a27894efd3",
        "name": "WATER PUMP",
        "topic": "Hakimz/relay3",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "16e3fa5e65627b0a",
        "x": 1280,
        "y": 520,
        "wires": []
    },
    {
        "id": "20776363eb2f3e4f",
        "type": "mqtt out",
        "z": "3b73c9a27894efd3",
        "name": "FAN",
        "topic": "Hakimz/relay2",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "16e3fa5e65627b0a",
        "x": 1250,
        "y": 460,
        "wires": []
    },
    {
        "id": "eac178a1914331e6",
        "type": "mqtt in",
        "z": "3b73c9a27894efd3",
        "name": "",
        "topic": "Hakimz/DS18B20",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "16e3fa5e65627b0a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 720,
        "y": 360,
        "wires": [
            [
                "23d637347a2b1d87",
                "76f72119a2b457ad",
                "842a97b8e9394273",
                "dbbfc5787a87569c"
            ]
        ]
    },
    {
        "id": "23d637347a2b1d87",
        "type": "ui_gauge",
        "z": "3b73c9a27894efd3",
        "name": "",
        "group": "b5c475233d8a6c1a",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "TEMPERATURE GAUGE",
        "label": "°C",
        "format": "{{value}}",
        "min": "-15",
        "max": "125",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1170,
        "y": 220,
        "wires": []
    },
    {
        "id": "76f72119a2b457ad",
        "type": "ui_chart",
        "z": "3b73c9a27894efd3",
        "name": "",
        "group": "b5c475233d8a6c1a",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "TEMP GRAPH",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-15",
        "ymax": "125",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#44ff00",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1160,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "704b17be4e6a9ff9",
        "type": "mqtt in",
        "z": "3b73c9a27894efd3",
        "name": "",
        "topic": "Kimz/C02",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "16e3fa5e65627b0a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 760,
        "y": 900,
        "wires": [
            [
                "38e3ebf953aed52d",
                "76b0b67073dc1848",
                "842a97b8e9394273",
                "212d283550b2b77b"
            ]
        ]
    },
    {
        "id": "38e3ebf953aed52d",
        "type": "ui_gauge",
        "z": "3b73c9a27894efd3",
        "name": "",
        "group": "b6a41c7eea963eba",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "C02 level",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#04ff00",
            "#e6e600",
            "#ff0000"
        ],
        "seg1": "41",
        "seg2": "61",
        "diff": false,
        "className": "",
        "x": 1100,
        "y": 940,
        "wires": []
    },
    {
        "id": "76b0b67073dc1848",
        "type": "ui_chart",
        "z": "3b73c9a27894efd3",
        "name": "",
        "group": "b6a41c7eea963eba",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "C02 ENVIRONMENT GRAPH",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#06f406",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1170,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "dbbfc5787a87569c",
        "type": "function",
        "z": "3b73c9a27894efd3",
        "name": "function 1",
        "func": "var temperature = msg.payload;\nif (temperature > 30.0)\n{\n    msg.payload = \"on\";\n}\nelse{\n    msg.payload = \"off\";\n}\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 380,
        "wires": [
            [
                "20776363eb2f3e4f",
                "0e7f7ca8f0e9531f"
            ]
        ]
    },
    {
        "id": "212d283550b2b77b",
        "type": "function",
        "z": "3b73c9a27894efd3",
        "name": "function 2",
        "func": "var CO2 = msg.payload;\nif (CO2 > 80.0)\n{\n    msg.payload = \"off\";\n}\nelse{\n    msg.payload = \"on\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 720,
        "wires": [
            [
                "3219eb37c760729b"
            ]
        ]
    },
    {
        "id": "ba1f0f0ed182e4a1",
        "type": "bigtimer",
        "z": "3b73c9a27894efd3",
        "outtopic": "",
        "outpayload1": "on",
        "outpayload2": "off",
        "name": "Big Timer",
        "comment": "",
        "lat": 0,
        "lon": 0,
        "starttime": "420",
        "endtime": "1140",
        "starttime2": 0,
        "endtime2": 0,
        "startoff": 0,
        "endoff": 0,
        "startoff2": 0,
        "endoff2": 0,
        "offs": 0,
        "outtext1": "",
        "outtext2": "",
        "timeout": 1440,
        "sun": true,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "jan": true,
        "feb": true,
        "mar": true,
        "apr": true,
        "may": true,
        "jun": true,
        "jul": true,
        "aug": true,
        "sep": true,
        "oct": true,
        "nov": true,
        "dec": true,
        "day1": 0,
        "month1": 0,
        "day2": 0,
        "month2": 0,
        "day3": 0,
        "month3": 0,
        "day4": 0,
        "month4": 0,
        "day5": 0,
        "month5": 0,
        "day6": 0,
        "month6": 0,
        "day7": 0,
        "month7": 0,
        "day8": 0,
        "month8": 0,
        "day9": 0,
        "month9": 0,
        "day10": 0,
        "month10": 0,
        "day11": 0,
        "month11": 0,
        "day12": 0,
        "month12": 0,
        "d1": 0,
        "w1": 0,
        "d2": 0,
        "w2": 0,
        "d3": 0,
        "w3": 0,
        "d4": 0,
        "w4": 0,
        "d5": 0,
        "w5": 0,
        "d6": 0,
        "w6": 0,
        "xday1": 0,
        "xmonth1": 0,
        "xday2": 0,
        "xmonth2": 0,
        "xday3": 0,
        "xmonth3": 0,
        "xday4": 0,
        "xmonth4": 0,
        "xday5": 0,
        "xmonth5": 0,
        "xday6": 0,
        "xmonth6": 0,
        "xday7": 0,
        "xmonth7": 0,
        "xday8": 0,
        "xmonth8": 0,
        "xday9": 0,
        "xmonth9": 0,
        "xday10": 0,
        "xmonth10": 0,
        "xday11": 0,
        "xmonth11": 0,
        "xday12": 0,
        "xmonth12": 0,
        "xd1": 0,
        "xw1": 0,
        "xd2": 0,
        "xw2": 0,
        "xd3": 0,
        "xw3": 0,
        "xd4": 0,
        "xw4": 0,
        "xd5": 0,
        "xw5": 0,
        "xd6": 0,
        "xw6": 0,
        "suspend": false,
        "random": false,
        "randon1": false,
        "randoff1": false,
        "randon2": false,
        "randoff2": false,
        "repeat": true,
        "atstart": true,
        "odd": false,
        "even": false,
        "x": 1040,
        "y": 820,
        "wires": [
            [
                "3219eb37c760729b"
            ],
            [],
            []
        ]
    },
    {
        "id": "842a97b8e9394273",
        "type": "join",
        "z": "3b73c9a27894efd3",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": true,
        "accumulate": false,
        "timeout": "5",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 930,
        "y": 600,
        "wires": [
            [
                "3cce7053c4417c07"
            ]
        ]
    },
    {
        "id": "3cce7053c4417c07",
        "type": "http request",
        "z": "3b73c9a27894efd3",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://docs.google.com/forms/d/e/1FAIpQLSfQZlG9Iy6YqaT87KuHR49_FqpJnaJvmRFNsDR8XXoM4cIcRQ/formResponse?entry.1770512330={{payload.Hakimz/DS18B20}}&entry.1844704423={{payload.Kimz/C02}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1270,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "62ff3c78516088a5",
        "type": "ui_button",
        "z": "3b73c9a27894efd3",
        "name": "",
        "group": "ac0662edc5b2b4e2",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Fan ON",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "className": "",
        "icon": "",
        "payload": "on",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 960,
        "y": 440,
        "wires": [
            [
                "20776363eb2f3e4f"
            ]
        ]
    },
    {
        "id": "9c08337d970caf8d",
        "type": "ui_button",
        "z": "3b73c9a27894efd3",
        "name": "",
        "group": "ac0662edc5b2b4e2",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Fan OFF",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "off",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 960,
        "y": 480,
        "wires": [
            [
                "20776363eb2f3e4f"
            ]
        ]
    },
    {
        "id": "5ddf9ddda3a55060",
        "type": "ui_button",
        "z": "3b73c9a27894efd3",
        "name": "",
        "group": "ac0662edc5b2b4e2",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Light ON",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "className": "",
        "icon": "",
        "payload": "on",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 720,
        "y": 640,
        "wires": [
            [
                "3219eb37c760729b"
            ]
        ]
    },
    {
        "id": "19e9c599343e50d2",
        "type": "ui_button",
        "z": "3b73c9a27894efd3",
        "name": "",
        "group": "ac0662edc5b2b4e2",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Light OFF",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "off",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 720,
        "y": 700,
        "wires": [
            [
                "3219eb37c760729b"
            ]
        ]
    },
    {
        "id": "3aa4a46849bd70f3",
        "type": "ui_button",
        "z": "3b73c9a27894efd3",
        "name": "",
        "group": "ac0662edc5b2b4e2",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Pump OFF",
        "tooltip": "",
        "color": "",
        "bgcolor": "Green",
        "className": "",
        "icon": "",
        "payload": "on",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 970,
        "y": 520,
        "wires": [
            [
                "0e7f7ca8f0e9531f"
            ]
        ]
    },
    {
        "id": "0cad59679203852e",
        "type": "ui_button",
        "z": "3b73c9a27894efd3",
        "name": "",
        "group": "ac0662edc5b2b4e2",
        "order": 11,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Pump ON",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "off",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 940,
        "y": 560,
        "wires": [
            [
                "0e7f7ca8f0e9531f"
            ]
        ]
    },
    {
        "id": "a0a6e53d58b1fdcf",
        "type": "ui_spacer",
        "z": "3b73c9a27894efd3",
        "name": "spacer",
        "group": "ac0662edc5b2b4e2",
        "order": 6,
        "width": 6,
        "height": 1
    },
    {
        "id": "b5ddc5a7ccc80544",
        "type": "ui_spacer",
        "z": "3b73c9a27894efd3",
        "name": "spacer",
        "group": "ac0662edc5b2b4e2",
        "order": 9,
        "width": 6,
        "height": 1
    },
    {
        "id": "16e3fa5e65627b0a",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "b5c475233d8a6c1a",
        "type": "ui_group",
        "name": "TEMPERATURE MONITORING",
        "tab": "1f07e78d364e1ed7",
        "order": 2,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b6a41c7eea963eba",
        "type": "ui_group",
        "name": "CO2 MONITORING",
        "tab": "1f07e78d364e1ed7",
        "order": 3,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ac0662edc5b2b4e2",
        "type": "ui_group",
        "name": "CONTROL",
        "tab": "1f07e78d364e1ed7",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "1f07e78d364e1ed7",
        "type": "ui_tab",
        "name": "IOT INCUBATOR  ISRAK",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "53a87f47699c544e",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6",
            "node-red-contrib-bigtimer": "2.8.6"
        }
    }
]